@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');

body {
  font-weight: 300;
  font-family: "Raleway", Helvetica, sans-serif;
  /*color: #222; */
  background-color: #DCDCDC;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  color: #000080;
  background-color: #DCDCDC;
}

.layout {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  font-size: 3em;
  margin: 1.5em 0 0.3em 0;
}

.timeline-controls {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

#time-slider {
  width: 70%;
  height: 50px;
}

#timeline3 {
  width: 100%;
}

#geo {
  color: #000080;
  background-color: #DCDCDC;
}

#products {
  margin: 4em 0 0 0;
}
